.selected{
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
  -moz-box-shadow:    0px 0px 20px rgba(255, 255, 255, 1);
  box-shadow:         0px 0px 20px rgba(255, 255, 255, 1);
}
.selected-red{
  -webkit-box-shadow: 0px 0px 20px rgba(255, 0, 0, 1);
  -moz-box-shadow:    0px 0px 20px rgba(255, 0, 0, 1);
  box-shadow:         0px 0px 20px rgba(255, 0, 0, 1);
}
.error{
  color: #FF0000;
}
.hidden{
  visibility: hidden;
}
.hide{
  display: none;
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}